body {
   text-align: center;
   background-color:rgb(93, 193, 240)
 }
 h1 {
 color: purple;
 font-size: 40px;
 font-family: 'Anton', sans-serif;
}
p {
 color: black;
 font-size: 25px;
 font-family: 'Raleway', sans-serif;
}
img {
  width: 750px;
  height: 450px;
}
img.sonic:hover {
 width: 800px;
 height: 500px;
 transition: height 1s, width 1s, filter 1s;
}
img.sonic:active {
  filter: invert(100%);
}
.square {
    background-color: red;
    color: white;
    transition: transform 1s, width 1s, height 1s;
}
.square:hover {
  width: 800px;
  height: 500px;
  transition: height 1s, width 1s, filter 1s;
}
.square:active {
    transform: rotate(360deg);
    width: 200px;
    height: 200px;
}

.dropbtn {
 background-color: white;
 border: none;
 color: black;
}
.dropdown-content {
 display: none;
 position: absolute;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgb(0,0,0,0.2);
}
.dropdown-content a {
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 background-color: white;
}
.dropdown:hover .dropdown-content {display: block;}
table {
 background-color: rgb(171, 57, 250);
 width: 300px;
 height: 50px;
 margin-left: auto;
 margin-right: auto;
}
.table-left {
 background-color: #4F78D1;
 width: 300px;
 margin-left: auto;
}
tr {
   background-color:  rgb(171, 57, 250);
   text-align: left;
}
iframe {
  height: 600px;
  width: 60%;
}
